@define-color fg-color rgba(150,190,200,0.8);
@define-color bg-color #3B4252;
@define-color text-color white;

* {
		font-family: "Hack", monospace;
}

window {
		background-color: @main-color;
}

#input {
		margin: 5px;
		padding: 0 10px;
		border-radius: 0px;
		border-color: @fg-color;
		background-color: transparent;
		color: @text-color;
}

#outer-box {
		margin: 2px;
		padding: 5px;
		background-color: @bg-color;
		border: 1px solid @fg-color;
}

#scroll {
		margin: 5px;
}

#text {
		padding: 5px;
		color: @text-color;
}

#text:not(:selected){
		opacity: 0.8;
}

#img:not(:selected) {
		opacity: 0.6;
}

#text:selected {
		font-weight: bold;
		color: @text-color;
}

#entry {
		margin: 5px 0;
}

#entry:selected {
		background-color: @fg-color;
}
